@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background-color: #212121;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

body * {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #8e8e8e;
}

body h1 {
  font-size: 300%;
}

body h2 {
  font-size: 120%;
}

body button {
  display: block;
  padding: 10px 20px;
  margin-left: 5px;
  margin-top: 20px
}

body button, body input{
  display: inline-block;
}

body input {
  padding: 10px 0;
  margin-left: 50px;
}

#hashes, #res {
  background-color: #3e3e3e;
  width: 80vw;
  height: 30vh;
  margin: 50px auto 0;
  padding: 20px;
}
